/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@500&family=Poppins&display=swap');

*{
    font-family: 'Anek Latin', sans-serif;
}