
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@500&family=Joan&family=Poppins&display=swap');

.center{
    margin-top: 20px;
}

.center h2{
    text-align: center;
    color: #f8f8f2;
    font-family:  'Poppins', sans-serif;
}
.info{
    margin-top: 10px;
    text-align: center;
    color: #ff79c6;
    font-family: 'Joan', serif;
}
