{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

<div class="alert alert-danger" role="alert">
    <h5 style="text-align: center;"
    >{{message}}</h5>
</div>


{% endfor %}
{% endif %}
{% endwith %}
