
{% block style_script %}
<link rel="stylesheet" href="/static/css/heading.css">
{% endblock style_script %}

<div class="container center">
    <h2>
    {% block heading %}
       Toy Shortener
    {% endblock heading %}
    </h2>
</div>

<div class="info">
    <p>Toy is a free tool to shorten URLs. Create short & memorable links in seconds.</p>
</div>