<nav class="navbar" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #ff79c6; font-size: 29px;">
      <img style="width: 64px" src="/static/images/duck.png" alt="" /> Toy</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Sing-up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
