
{% block style_script %}

<link rel="stylesheet" href="static/css/forms.css">
{% endblock style_script %}

<div class="container middle_2">
    <form method="post">
      {{xfor.hidden_tag()}}
      <div class="mb-3">
          {{xfor.username(class_="form-control")}}
        </div>
      <div class="mb-3">
        {{xfor.email(class_="form-control")}}
      </div>
      <div class="mb-3">
        {{xfor.password(class_="form-control")}}
      </div>
      <div class="mb-3">
          {{xfor.pass_conform(class_="form-control")}}
        </div>
      {{xfor.submit(class_="btn btn-primary")}}
    </form>
  </div>
  